
@{
    ViewBag.Title = "IlanEkle";
}
@using EmlakProject.Models

<section style="background-image: url(/Content/ecoverde/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    *<section class="ftco-section contact-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 heading-section text-center ftco-animate mb-5 fadeInUp ftco-animated">
                    <span class="subheading">Yeni İlan Ekle</span>
                    <h2 class="mb-2">İlan Bilgileri Ekle</h2>
                </div>
            </div>

            <div class="row block-9 justify-content-center mb-5">
                <div class="col-md-8 mb-md-5">
                    <form action="/Ilan/IlanEkle" method="post" role="form" class="bg-light p-5 contact-form">
                        <div class="form-group">
                            <label for="input-demo-a">İlan Başlığı</label>
                            <input type="text" class="form-control" id="input-demo-a" placeholder="İlan başlığını giriniz" name="ilanBaslik">
                        </div>
                        <input type="hidden" name="ilanAdresID" value="@ViewBag.adresGetir" />
                        <div class="form-group">
                            <label for="input-demo-v">İlan Türü Seçiniz</label>
                            <select id="input-demo-v" class="form-control" name="ilanTuruID">
                                @foreach (var item in ViewBag.ilanTurleri)
                                {
                                    <option value="@item.ilanTuruID">@item.ilanTuru</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="input-demo-v">Konut Türü Seçiniz</label>
                            <select id="input-demo-v" class="form-control" name="ilanKonutTuruID">
                                @foreach (var item in ViewBag.konutTurleri)
                                {
                                    <option value="@item.konutTuruID">@item.konutTuru</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="input-demo-a">Fiyat</label>
                            <input type="number" class="form-control" id="input-demo-a" placeholder="İlan için istediğiniz fiyatı girin." name="ilanFiyat">
                        </div>
                        <div class="form-group">
                            <label for="input-demo-a">Oda Sayısı</label>
                            <input type="number" class="form-control" id="input-demo-a" placeholder="Evdeki oda sayısını giriniz." name="ilanOdaSayisi">
                        </div>
                        <div class="form-group">
                            <label for="input-demo-a">Banyo Sayısı</label>
                            <input type="number" class="form-control" id="input-demo-a" placeholder="Evdeki banyo sayısını giriniz." name="ilanBanyoSayisi">
                        </div>
                        <div class="form-group">
                            <label for="input-demo-a">Salon Sayısı</label>
                            <input type="number" class="form-control" id="input-demo-a" placeholder="Evdeki salon sayısını giriniz." name="ilanSalonSayisi">
                        </div>
                        <div class="form-group">
                            <label for="input-demo-a">Metrekare</label>
                            <input type="number" class="form-control" id="input-demo-a" placeholder="Evin metrekare cinsinden boyutunu giriniz." name="ilanM2">
                        </div>
                        <div class="form-group label-floating">
                            <label class="control-label" name="ilanYayinTarihi">Yayın Tarihi</label>
                            <input value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.fff")" type="datetime" class="form-control" id="input-demo-a" name="ilanYayinTarihi" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="input-demo-v">Bina Yaşı</label>
                            <select id="input-demo-v" class="form-control" name="ilanBinaYasiID">
                                @foreach (var item in ViewBag.binaYaslari)
                                {
                                    <option value="@item.binaYasiID">@item.binaYasi</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="input-demo-v">Isınma Tipi</label>
                            <select id="input-demo-v" class="form-control" name="ilanIsinmaID">
                                @foreach (var item in ViewBag.isinmalar)
                                {
                                    <option value="@item.isinmaID">@item.isinmaTuru</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="input-demo-v">Eşya Durumu</label>
                            <select id="input-demo-v" class="form-control" name="ilanEsyaDurumu">
                                <option value="1">Evet</option>
                                <option value="0">Hayır</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="input-demo-a">Açıklama</label>
                            <input type="text" class="form-control" id="input-demo-a" placeholder="İlan hakkında ayrıca belirtmek istediğiniz şeyleri yazınız." name="ilanAciklama">
                        </div>
                        <input type="hidden" name="ilanSatisDurumu" value="0" />
                        <input type="hidden" name="ilanOnayDurumu" value="0" />
                        <input type="hidden" name="ilanUyeID" value="@ViewBag.uyeIdGetir" />
                        <button type="submit" class="btn btn-primary py-2 px-4 pull-right">İlan Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>