
@{
    ViewBag.Title = "İlanlar";
}
@model IEnumerable<EmlakProject.Models.TumIlanBilgileri>

<section style="background-image: url(/Content/ecoverde/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <section class="ftco-section goto-here">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 heading-section text-center ftco-animate mb-5 fadeInUp ftco-animated">
                    <span class="subheading">Size Sunduklarımız</span>
                    <h2 class="mb-2">Tüm İlanlar</h2>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="property-wrap ftco-animate fadeInUp ftco-animated">
                            <a class="img" style="background-image: url(/Images/@item.resim.resimAdi);">
                                <div class="rent-sale">
                                    @if (@item.ilanTur.ilanTuruID == 2)
                                    {
                                        <span class="sale">@item.ilanTur.ilanTuru</span>
                                    }
                                    else if (@item.ilanTur.ilanTuruID == 1)
                                    {
                                        <span class="rent">@item.ilanTur.ilanTuru</span>
                                    }
                                </div>
                                <p class="price"><span class="orig-price">@item.ilan.ilanFiyat TL</span></p>
                            </a>
                            <div class="text">
                                <ul class="property_list">
                                    <li><span class="flaticon-home">@item.konutTur.konutTuru</span></li>
                                    <li><span class="flaticon-floor-plan"></span>@item.ilan.ilanM2 Metrekare</li>
                                </ul>
                                <ul class="property-list">
                                    <li><span class="flaticon-bed"></span>@item.ilan.ilanOdaSayisi + @item.ilan.ilanSalonSayisi</li>
                                    <li><span class="flaticon-bathtub"></span>@item.ilan.ilanBanyoSayisi Banyo </li>
                                </ul>
                                <h3><a href="/Ilan/IlanDetay/@item.ilan.ilanID" class="btn btn-light" name="@item.ilan.ilanID">@item.ilan.ilanBaslik</a></h3>
                                <span class="location">@item.ils.ilAdi - @item.ilce.ilceAdi - @item.mahal.mahalleAdi</span>
                                <div class="list-team d-flex align-items-center mt-2 pt-2 border-top">
                                    <div class="d-flex align-items-center">
                                        <h3 class="ml-2">Satıcı: @item.uye.uyeAdSoyad</h3>
                                    </div>
                                    <span class="text-right">Yayın Tarihi: @item.ilan.ilanYayinTarihi</span>
                                </div>
                                <div class="list-team d-flex align-items-center mt-2 pt-2 border-top">
                                    @if (item.ilan.ilanOnayDurumu == 0)
                                    {
                                        <div class="d-flex align-items-center">
                                            <h3 class="ml-2">İlan Durumu:</h3>
                                        </div>
                                        <span class="text-right" style="color:gold">Onay bekliyor.</span>
                                    }
                                    else if (item.ilan.ilanOnayDurumu == 1)
                                    {
                                        <div class="d-flex align-items-center">
                                            <h3 class="ml-2">İlan Durumu:</h3>
                                        </div>
                                        <span class="text-right" style="color: #24a148;">Onaylandı.</span>
                                    }
                                </div>
                                <div class="list-team d-flex align-items-center mt-2 pt-2 border-top">
                                    <div class="d-flex align-items-center">
                                        <a href="/Ilan/IlanGuncelle/@item.ilan.ilanID" class="btn btn-primary rounded ml-2" name="@item.ilan.ilanID">Güncelle</a>
                                    </div>
                                    <span class="text-right"><a href="#" class="btn btn-danger rounded ilanSil" data-ilansid="@item.ilan.ilanID">Sil</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</section>

@section scripts{
    <script src="~/Content/assets/js/required/jquery-1.11.1.min.js"></script>

    <script>
        $(".ilanSil").click(function () {
            var sonuc = confirm("İlan silinsin mi?");
            if (sonuc) {
                var sid = $(this).data("ilansid");
                $.ajax(
                    {
                        type: "POST",
                        url: "/Ilan/IlanSil?sid=" + sid,
                        success: function () {
                            alert("İlan Silindi");
                            window.location.replace("/Ilan/Index");
                        },
                        error: function () {
                            alert("Hata oluştu");
                        }
                    });
            }
            else {
                alert("İptal");
            }
        });

    </script>
}



@*
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Tüm İlanlar
                </div>
                <div class="block-controls">
                    <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer" style="display: block;">
                <div class="block-content-inner">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>İlan Başlığı</th>
                                <th>İlan Sahibi</th>
                                <th>İlan İli</th>
                                <th>İlan İlçesi</th>
                                <th>İlan Mahallesi</th>
                                <th>İlan Detayı</th>
                                <th>İlan Türü</th>
                                <th>Konut Türü</th>
                                <th>İlan Fiyatı</th>
                                <th>Oda Sayısı</th>
                                <th>Banyo Sayısı</th>
                                <th>Salon Sayısı</th>
                                <th>Metrekare</th>
                                <th>İlan Yayın Tarihi</th>
                                <th>Bina Yaşı</th>
                                <th>Isınma Türü</th>
                                <th>İlan Esya Durumu</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ilan.ilanBaslik</td>
                                    <td>@item.uye.uyeAdSoyad</td>
                                    <td>@item.ils.ilAdi</td>
                                    <td>@item.ilce.ilceAdi</td>
                                    <td>@item.mahal.mahalleAdi</td>
                                    <td>@item.adres.adresDetay</td>
                                    <td>@item.ilanTur.ilanTuru</td>
                                    <td>@item.konutTur.konutTuru</td>
                                    <td>@item.ilan.ilanFiyat</td>
                                    <td>@item.ilan.ilanOdaSayisi</td>
                                    <td>@item.ilan.ilanBanyoSayisi</td>
                                    <td>@item.ilan.ilanSalonSayisi</td>
                                    <td>@item.ilan.ilanM2</td>
                                    <td>@item.ilan.ilanYayinTarihi</td>
                                    <td>@item.yas.binaYasi</td>
                                    <td>@item.isin.isinmaTuru</td>
                                    <td>@item.ilan.ilanEsyaDurumu</td>
                                    <td><a href="/Ilan/IlanGuncelle/@item.ilan.ilanID" class="btn btn-primary rounded" name="@item.ilan.ilanID">Güncelle</a></td>
                                    <td><a href="/Ilan/IlanSil/@item.ilan.ilanID" class="btn btn-danger rounded">Sil</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>*@
